$mdc-theme-primary: #2962ff;
$mdc-theme-on-primary: #ffffff;

@import "./libs/normalize.css";
@import "./libs/materialicons.css";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";
@import "@material/image-list/mdc-image-list";
@import "@material/typography/mdc-typography";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

body {
  display: flex;
  height: 100vh;
}

.flex {
  display: flex;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.portrait {
  width: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 10px;
}

.mdc-drawer__header {
  display: flex;
  flex-direction: column;
  img,
  a,
  p {
    align-self: center;
  }
  a {
    text-decoration: underline;
    margin: 10px 0;
  }
}

.mdc-list-item__sub {
  padding-left: 30px !important;
}

.mdc-menu {
  left: -65px !important;
  margin-top: 60px !important;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.logo {
  width: 40px;
  height: 40px;
  padding: 0px;
  margin-left: 20px;
}

.main-content {
  section {
    justify-content: center;
    height: 100%;
    .section-1,
    .section-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50vw;
      .intro,
      .visual {
        align-self: center;
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

// Media Query
@media (max-width: 769px) {
  .main-content {
    display: flex;
    flex-direction: column;
    section {
      flex-direction: column;
      padding-top: 56px;
      .section-1,
      .section-2 {
        text-align: center;
        align-items: center;
        flex-direction: row;
        width: 100vw;
        height: 50vh;
      }
    }
  }
  footer {
    position: static;
    margin-bottom: 10px;
  }
}

// Animation

.shake:hover {
  animation: shake 1.5s infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
